body{
    /*background-color: rgba(0, 144, 144, 0.8);*/
    /*background-color: rgba(53, 144, 144, 0.8);*/
    margin: auto 0;
    text-decoration-color: rgba(53, 144, 144, 0.8);
}

/* TITLE */
.title {
    text-align: center;
    font-size: 3rem;
    color: rgba(53, 144, 144, 0.8);
    /*height: 80vh;*/
    /*display: flex;*/
}


/*.top-articles-list {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}*/




.boxmodel {
    /*border:  3px solid #18436b;;*/
    display: inline-block;

    padding: 5px 20px 5px 20px;
    margin: 0px 20px 0px 20px;
    /*padding: 5px 20px;*/

    width: 30px /* content*/
    height: 10px. /* content*/
}

.logo-divider {
    /*width: 50p;*/
    color: #E8DDDD;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a {
    font-weight: 700;
    text-transform: none;
}

/*a, */
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    font-family: Merriweather,serif;
    font-weight: 400;
    /*color: #000;*/
}

/*.my-popular-articles .my-pop-article-wrapper */
h2 {
    color: #1376c1;
}





h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #1376c1;
}

.my-popular-articles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    padding: 9px 0;
    border-bottom: 1px solid #e2e8ef;
}

.my-popular-articles {
    font-family: Merriweather,serif;
    font-size: 14px;
    line-height: 1.42857143;
    /*color: #333;*/
    background-color: #fff;
}

.my-popular-articles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    padding: 9px 0;
    border-bottom: 1px solid #e2e8ef;
}

.my-popular-articles span {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #18436b;
    padding: 0 20px 0 0;
}

.my-popular-articles .my-pop-article-wrapper h2, .my-popular-articles .my-pop-article-wrapper h3 {
    display: inline;
    font-weight: 900;
    font-size: 15px;
    line-height: 24px;
}

.my-popular-articles .my-pop-article-wrapper h2 a, .my-popular-articles .my-pop-article-wrapper h3 a{
    display: inline;
    font-weight: 900;
    font-size: 15px;
    line-height: 24px;
}

/*NAV*/
/*.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
*/

.main-nav li a {
    color: rgba(53, 144, 144, 0.8);
    text-decoration: none; /* to remove uderlines from the hyperlinks*/
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 0;

}

.nav-item {
    padding: 5px;
}


h3 a {
    color: #18436b;
    text-decoration: none;
}

h2 a {
    color: #1376c1;
    text-decoration: none;
}

.logo {
    /*position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
