<!DOCTYPE html>
<html>
<head>
	<title>All News</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='allnews.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<nav class="zone blue sticky">
		<ul class="main-nav">
		  <li><a href="">Last 24  h</a></li>
		  <li><a href="">Last 7 Days</a></li>
		  <li><a href="">World</a></li>
		  <li><a href="">National</a></li>
		  <li><a href="">Customize</a></li>
		  <li><a href="">About</a></li>
		</ul>
	</nav>
	<!-- <div class="title container">All News Here</div> -->
<!--    <h1>All News Here</h1>-->
    <script src="script.js"></script>
</body>
</html>

