<!DOCTYPE html>
<html>
 <head>
  <title>
   All News
  </title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{{ url_for('static', filename='allnews.png') }}" rel="shortcut icon"/>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
  <link href="../static/style.css" rel="stylesheet" type="text/css">
  </link>
 </head>
 <body>
  <nav class="container">
   <ul class="main-nav">
    <li class="nav-item">
     <a href="">
      24 Hours
     </a>
    </li>
    <li class="nav-item">
     <a href="">
      7 Days
     </a>
    </li>
    <li class="nav-item">
     <a href="">
      World
     </a>
    </li>
    <li class="nav-item">
     <a href="">
      National
     </a>
    </li>
    <li class="nav-item">
     <a href="">
      Customize
     </a>
    </li>
    <li class="nav-item">
     <a href="">
      About
     </a>
    </li>
   </ul>
  </nav>
  <!-- <div class="title container">All News Here</div> -->
  <h2 class="title container">
   All News Here
  </h2>
  <div class="boxmodel" id="div1">
   <img class="logo" src="static/postoj.png"/>
   <hr class="logo-divider"/>
   <div class="tab-pane active" id="today-popular-articles" role="tabpanel">
    <article class="my-popular-articles">
     <span>
      1.
     </span>
     <div class="my-pop-article-wrapper">
      <h2>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="1" href="https://www.postoj.sk/110417/inspirujme-sa-od-predkov-ako-jedli-medzi-vojnami-no-kapusta-a-halusky-nestacia">
        Odborn&iacute;&ccaron;ka rad&iacute;, ako vari&tcaron; zdravo a lacno
       </a>
      </h2>
      <h3>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="1" href="https://www.postoj.sk/110417/inspirujme-sa-od-predkov-ako-jedli-medzi-vojnami-no-kapusta-a-halusky-nestacia">
        In&scaron;pirujme sa od predkov, ako jedli medzi vojnami. No kapusta a halu&scaron;ky nesta&ccaron;ia
       </a>
      </h3>
     </div>
    </article>
    <article class="my-popular-articles">
     <span>
      2.
     </span>
     <div class="my-pop-article-wrapper">
      <h3>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="2" href="https://www.postoj.sk/110439/harabinov-rekreacny-dom-zmizol-bez-povolenia-na-odstranenie-stavby">
        Harabinov rekrea&ccaron;n&yacute; dom zmizol bez povolenia na odstr&aacute;nenie stavby
       </a>
      </h3>
     </div>
    </article>
    <article class="my-popular-articles">
     <span>
      3.
     </span>
     <div class="my-pop-article-wrapper">
      <h2>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="3" href="https://www.postoj.sk/110467/manzelstvo-nie-je-vaezenie-ale-sloboda-tvrdia-organizatori-zhromazdenia">
        Hrd&iacute; na rodinu
       </a>
      </h2>
      <h3>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="3" href="https://www.postoj.sk/110467/manzelstvo-nie-je-vaezenie-ale-sloboda-tvrdia-organizatori-zhromazdenia">
        Nechceme protestova&tcaron; proti d&uacute;hov&eacute;mu pochodu, tvrd&iacute; Chrom&iacute;k
       </a>
      </h3>
     </div>
    </article>
    <article class="my-popular-articles">
     <span>
      4.
     </span>
     <div class="my-pop-article-wrapper">
      <h2>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="4" href="https://www.postoj.sk/110359/je-hrozbou-ked-zapad-odmieta-uznat-krym-za-rusky-vyhlasil-medvedev">
        Exprezident Medvedev
       </a>
      </h2>
      <h3>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="4" href="https://www.postoj.sk/110359/je-hrozbou-ked-zapad-odmieta-uznat-krym-za-rusky-vyhlasil-medvedev">
        Ak sa Z&aacute;pad domnieva, &zcaron;e Krym nie je rusk&yacute;, je to pre n&aacute;s syst&eacute;mov&aacute; hrozba
       </a>
      </h3>
     </div>
    </article>
    <article class="my-popular-articles">
     <span>
      5.
     </span>
     <div class="my-pop-article-wrapper">
      <h2>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="5" href="https://www.postoj.sk/110093/ked-telo-nevladze-darmo-budeme-hladat-utechu-v-duchovnych-cviceniach">
        Nehre&scaron;me nedostatkom sp&aacute;nku
       </a>
      </h2>
      <h3>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="5" href="https://www.postoj.sk/110093/ked-telo-nevladze-darmo-budeme-hladat-utechu-v-duchovnych-cviceniach">
        Ke&dcaron; telo nevl&aacute;dze, darmo budeme h&lcaron;ada&tcaron; &uacute;techu v duchovn&yacute;ch cvi&ccaron;eniach
       </a>
      </h3>
     </div>
    </article>
    <article class="my-popular-articles">
     <span>
      6.
     </span>
     <div class="my-pop-article-wrapper">
      <h2>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="6" href="https://www.postoj.sk/110375/suhlasim-so-zelenskym-a-putin-najviac-mi-pripomina-chruscova">
        &Ccaron;o naozaj hovor&iacute; Henry Kissinger
       </a>
      </h2>
      <h3>
       <a class="track-me-pls" data-action="click" data-category="clanok_najcitanejsie-clanok" data-label="position-today" data-value="6" href="https://www.postoj.sk/110375/suhlasim-so-zelenskym-a-putin-najviac-mi-pripomina-chruscova">
        S&uacute;hlas&iacute;m so Zelensk&yacute;m. A Putin? Najviac mi pripom&iacute;na Chru&scaron;&ccaron;ova
       </a>
      </h3>
     </div>
    </article>
   </div>
  </div>
  <!-- <h1>All News Here</h1> -->
  <!-- TEST -->
  <!-- <nav>
    <div class="block-one">
      <div class="toggle">
        <a href="#"><span class="fa fa-bars fa-lg"></span></a>
      </div>
      <div>
        <a href="#" class="logo">logo</a>
        <a href="#" class="brand">brand</a>
      </div>
    </div>    
    <div class="block-two">
      <div>
        <a href="#">location</a>
        <a href="#">about</a>
        <a href="#">contact</a>
        <a href="#"><span class="fa fa-facebook-official fa-lg"></span></a>
      </div>
    </div>
</nav>
<div class="suplemento"></div> -->
  <script src="script.js">
  </script>
 </body>
</html>
