<!DOCTYPE html>
<html>
<head>
	<title>All News</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='allnews.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<nav class="sticky top-articles-list">
		<ul class="main-nav">
		  <li><a href="">Last 24  h</a></li>
		  <li><a href="">Last 7 Days</a></li>
		  <li><a href="">World</a></li>
		  <li><a href="">National</a></li>
		  <li><a href="">Customize</a></li>
		  <li><a href="">About</a></li>
		</ul>
	</nav>


<!-- TEST -->
<!-- <nav>
    <div class="block-one">
      <div class="toggle">
        <a href="#"><span class="fa fa-bars fa-lg"></span></a>
      </div>
      <div>
        <a href="#" class="logo">logo</a>
        <a href="#" class="brand">brand</a>
      </div>
    </div>    
    <div class="block-two">
      <div>
        <a href="#">location</a>
        <a href="#">about</a>
        <a href="#">contact</a>
        <a href="#"><span class="fa fa-facebook-official fa-lg"></span></a>
      </div>
    </div>
</nav>
<div class="suplemento"></div> -->


	<!-- <div class="title container">All News Here</div> -->
<!--    <h1>All News Here</h1>-->
    <script src="script.js"></script>
</body>
</html>

