<!DOCTYPE html>
<html>
<head>
	<title>All News</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='allnews.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<nav class="container">
		<ul class="main-nav">
		  <li class="nav-item"><a href="">24 Hours</a></li>
		  <li class="nav-item"><a href="">7 Days</a></li>
		  <li class="nav-item"><a href="">World</a></li>
		  <li class="nav-item"><a href="">National</a></li>
		  <li class="nav-item"><a href="">Customize</a></li>
		  <li class="nav-item"><a href="">About</a></li>
		</ul>
	</nav>
	<!-- <div class="title container">All News Here</div> -->
	<h2 class="title container">All News Here</h2>
	<div id="div1" class="boxmodel">
	<img class="logo" src="static/postoj.png"></img>
	<hr class="logo-divider"></hr>
	</div>
    <!-- <h1>All News Here</h1> -->

<!-- TEST -->
<!-- <nav>
    <div class="block-one">
      <div class="toggle">
        <a href="#"><span class="fa fa-bars fa-lg"></span></a>
      </div>
      <div>
        <a href="#" class="logo">logo</a>
        <a href="#" class="brand">brand</a>
      </div>
    </div>    
    <div class="block-two">
      <div>
        <a href="#">location</a>
        <a href="#">about</a>
        <a href="#">contact</a>
        <a href="#"><span class="fa fa-facebook-official fa-lg"></span></a>
      </div>
    </div>
</nav>
<div class="suplemento"></div> -->



    <script src="script.js"></script>
</body>
</html>

